@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

html, body {
height: 100%;
margin: 0;
padding: 0;
overflow-x: hidden;
}

/*------------------------Nav Bar------------------------*/

.navbar{
    height: 100px;
    padding-bottom: 50px;
    text-align: center;
}

.navbar-brand img{
    position: absolute;    
    left: 50%;
    margin-left: -50px;
    display: block;
}

/*------------------------Heading------------------------*/

header{
    text-align: center;
    font-family: "Yusei Magic", sans-serif;
    padding-top: 20px;
}

h2{
    padding: 20px;
}

header p{
    padding-top: 20px;
    font-size: 120%;
    font-family: "Josefin Sans", sans-serif;
    padding-bottom: 40px;
}

/*---------------------Google Maps----------------------*/

#map {
    height: 100%;
}

/*---------------------Restaurants----------------------*/

.restaurants{
    padding: 40px;
    text-align: center;
}

h3{
    font-family: "Yusei Magic", sans-serif;
    padding: 20px;
    text-decoration: underline;
}

.restaurants p{
    font-family: "Josefin Sans", sans-serif;
    font-size: 120%;
    padding: 20px;
}

.restaurants p a{
    text-decoration: underline;
}
.loko{
    padding: 30px;
}

.cookhouse{
    padding: 30px;
}

.doghouse{
    padding: 30px;
}
/*---------------------Gallery-------------------------*/

.col-lg-4 img {
    width: 300px;
    height: 300px;  
    display: block;
    margin: auto;
    padding-bottom: 10px;
    padding-right: 90px;
}


/*---------------------Footer--------------------------*/

footer{
    background-color: black;
    color: #fff;
    min-height: 120px;
    margin-top: 48px;
    padding: 20px;
    text-align: center;
    font-family: "Yusei Magic", sans-serif;
}
